.header{
	position: releative;
	width: 980px;
	height: 110px;
	padding-top: 40px;
	&__logo{
		display: inline-block;
		width: 123px;
		heigth: 16px;
		margin: 11px 39px 0 0;
		vertical-align: top;
		background: url(http://lamcdn.net/www.lookatme.ru/gui/11.sprite-4a24e13227bd624e57b6b454c255f0c9.png) -169px -401px;
		text-indent: -999em;
	}
	a,
	a:visited{
		color: #000;
    	text-decoration: none;
    	outline: none;
	}
	ul{
	list-style: none;
	}
	&__nav{
		display: inline-block;
    	max-width: 370px;
    	min-height: 70px;
    	font: 900 28px/35px "Proxima Nova", "Arial", sans-serif;
    	color: #000;
    	-webkit-font-smoothing: antialiased;
    	margin: 0;
    	padding: 0;
    	background: blue;
	}
	&__nav li{
	display: inline-block;
	}
	&__nav li:after{
	content: ',';
	margin-left: -9px;
	}
	&__broadcast{

	}
	&__people{

	}
	&__magazine{

	}
	&__how-to{

	}
	&__blogs{

	}
	&__search{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding:0;
		font: 12px/1 "Arial", sans-serif;
		background: yellow;
	}
	&__profile{
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
		text-transform: uppercase;
		font: bold 12px/26px "Proxima Nova", "Arial", sans-serif;
		& li{
			display: inline-block;
		}
		&-login{
			color: #c0c0c0 !important;

		}
		&-signup{
			background-color: #0b28fb;
    		border-color: #0b28fb;
    		color: #fff !important;
		}
	}
	&__services{
	display: inline-block;
	margin-right: 0;
	}
}

