.post-preview {
	font-family: 'PT Sans', sans-serif;
	width: 620px;
	height: 620px;
	color: #fff;
	display: inline-block;
	&__link {
		display: inline-block;
		position: absolute;
		top: 8px;
		left: 8px;
		width: inherit;
		height: inherit;
		color: #fff;
		text-decoration: none;
		z-index: 5;
		&:hover {
		background: #fff;
		opacity: 0.15;
		}
	}
	&__img {
		border-radius: 1%;
		position: absolute;
		z-index: -1;
	}
	&__category {
		display: block;
		width: 40px;
		height: 15px;
		margin-left: 280px;
		text-decoration: none;
		color: #fff;
		margin-top: 345px;
		margin-bottom: 3px;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 3px;
		font-weight: bold;
		line-height: 1.6;
		position: relative;
		z-index: 10;
	}
	&__category:hover {
		color: #d3d3d3;
	}
	&__title {
		text-align: center;
		font-size: 29px;
		font-weight: bold;
		margin: 0 120px;
		line-height: 1.11;
		letter-spacing: 2px;
	}
	&__text {
		text-align: center;
		margin: 19px 150px;
	}
	&__info {
		margin-top: 25px;
		font-size: 11px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color: #aaa;
	}
	&__author {
		display: inline-block;
	}
	&__date {
		display: inline-block;
		margin-right: 10px;
	}
	&__views {
		display: inline-block;
		margin-right: 10px;
	}
	&__views-counter {
		display: inline-block;
	}
	&__comments {
		padding-right: 0;
		position: relative;
		z-index: 10;
	}
	&__comments-counter {

	}
	&__comments-link {
		color: #aaa;
		text-decoration: none;
		&:hover {
			color: #d3d3d3;
		}
	}
}
