<!-- Main-menu -->
	<div class="header">
		<!-- Logo -->
		<a class="header__logo" href="../" title="Look At Me">
			Look At Me
		</a>
		<!-- Topics -->
		<ul class="header__nav">
			<!-- Broadcast -->
			<li class="header__broadcast">
				<a href="/mag/live">
					Эфир
				</a>
			</li>
			<!-- People -->
			<li class="header__people">
				<a href="/mag/people">
					Герои
				</a>
			</li>
			<!-- Magazine -->
			<li class="header__magazine">
				<a href="/mag/magazine">
					Журнал
				</a>
			</li>
			<!-- How-to -->
			<li class="header__how-to">
				<a href="/mag/how-to">
					Советы
				</a>
			</li>
			<!-- Blogs -->
			<li class="header__blogs">
			<a <a href="/mag/blogs">
				Блоги
			</a>
			</li>
		</ul>
		<!-- Search -->
		<div class="header__search">
			<form action="/search">
				<input type="text" name="query">
				<button class="header__submit" type="submit">
					<svg class="icon icon-search">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_search">
						</use>
					</svg>
				</button>
			</form>
		</div>
		<!-- Login -->
		<ul class="header__profile">
			<li>
				<a class="header__profile-login" href="#login">Вход</a>
			</li>
			<li>
				<a class="header__profile-signup" href="#signup">Регистрация</a>
			</li>
		</ul>
		<!-- Services -->
		<div class="header__services">
			<!-- News -->
			<a class="header__news" href="/news">
				Новости
			</a>
			<!-- Talks -->
			<a class="header__talks" href="/talks">
				Сообщество
			</a>
		</div>
	</div>
