<!-- Main-menu -->
<header class="main-menu">
	<div class="container">
		<nav class="main-menu__list clearfix">
			<a class="main-menu__item" href="/mag/live">
				Эфир
			</a>
			<a class="main-menu__item" href="/mag/people">
				Герои
			</a>
			<a class="main-menu__item" href="/mag/magazine">
				Журнал
			</a>
			<a class="main-menu__item" href="/mag/how-to">
				Советы
			</a>
			<a class="main-menu__item" href="/mag/blogs">
				Блоги
			</a>
		</nav>
	</div>
</header>

