<!-- Search -->
<div class="search">
	<form action="/search">
		<input type="text" name="query">
		<button class="search__submit" type="submit">
			<svg class="icon icon-search">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_search">
				</use>
			</svg>
		</button>
	</form>
</div>
