<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/app.css">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
	{{>icons}}
	<!-- Post preview -->
	<div class="post-preview">
		<!-- Link -->
		<a class="post-preview__link" href="http://www.lockatme.ru/mag/live/opinion/218377-just-once-i-want-to-feel-something"></a>
		<!-- Image -->
		<img class="post-preview__img" src="http://lamcdn.net/lookatme.ru/post-cover/lDt9V4mW-c_PyFrq-iDECA-default.jpg" alt="«Пробуждение силы»: почему всем надо выдохнуть и успокоиться">
		<!-- Category -->
		<a class="post-preview__category" href="http://www.lockatme.ru/mag/live/opinion">
			Мнение
		</a>
		<!-- Title -->
		<div class="post-preview__title">
			«Пробуждение cилы»:
			почему всем надо
			выдохнуть и успокоиться
		</div>
		<!-- Description -->
		<div class="post-preview__text">
			Седьмой эпизод «Звездных войн» и постоянный восторг
		</div>
		<!-- Info -->
		<div class="post-preview__info">
			<!-- Author -->
			<span class="post-preview__author">
				Гриша Пророков,
			</span>
			<!-- Date -->
			<span class="post-preview__date">
				21 Декабря 2015
			</span>
			<!-- Views -->
			<span class="post-preview__views">
				<svg class="icon icon-views">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_views">
					</use>
				</svg>
				<span class="post-preview__views-counter">
					19777
				</span>
			</span>
			<!-- Comments -->
			<span class="post-preview__comments">
				<a class="post-preview__comments-link" href="http://www.lockatme.ru/mag/live/opinion/218377-just-once-i-want-to-feel-something#comments">
					<svg class="icon icon-comments">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_comments">
						</use>
					</svg>
					<!-- Counter -->
					<span class="post-preview__comments-counter">
						16
					</span>
				</a>
			</span>
		</div>
	</div>

	<script src="js/plugins.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
