<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/app.css">
	<base href="http://www.lookatme.ru">
</head>
<body>
<!-- Article -->
	<div class="article">
		<!-- Text -->
		<div class="article__text">
			<p>«Бог есть, и он снял этот фильм. А все те, кто… <em>(докапываются. — Прим. ред.)</em> до этого чуда — … <em>(идите прочь. — Прим. ред.)</em> со скоростью Тысячелетнего сокола». Это конец <a href="https://vk.com/cliqque?w=wall-66687279_56987">поста</a> в паблике Clique, их отзыва на седьмой эпизод «Звёздных войн». Clique — паблик о поп-культуре, <br>где пишут о сериалах, фильмах, играх и прочем языком мемов и форсов <em>(то есть forced meme, искусственных мемов, которые создаются и распространяются намеренно).</em> Clique <br>о многом говорят с восторженными интонациями, и, конечно, в этом есть немалая доля иронии, но их реакции <br>на «Пробуждении силы» почему-то веришь. Ещё кажется, <br>что ей верят 4 тысячи человек, поставивших посту лайки. <br>Так работает культура восторга.</p>
			<p>А сайт «Нож», наоборот, <a href="http://knife.media/other-wars/">пишет</a> о том, «почему вас заставляют любить „Звёздные войны“ и что противопоставить очарованным сектантам». Многие люди с гордостью пишут <br>о том, что они никогда не смотрели «Звёздные войны» <br>и теперь уж точно не будут. Похожие полярные реакции возникали вокруг «Интерстеллара» в прошлом году, <br>но за 2015-й мы научились реагировать резче <br>и беспощаднее. В стороне от хайпа вокруг «Звёздных войн» остаться нельзя, даже промолчать — это жест.</p>
		</div>
		<!-- Text-wide -->
		<div class="article__text-wide">
			<p>«Пробуждение силы» — первый фильм в серии, к которому не имеет отношения Джордж Лукас: его снял Джей Джей Абрамс. Седьмой эпизод — попытка вернуть любовь и доверие к франшизе со сложной историей. Действие седьмого эпизода происходит через 30 лет после «Возвращения джедая»: Империя повержена, <br>но на её место пришёл Первый орден, а повстанцев заменило Сопротивление. Сюжет крутится вокруг трёх новых героев: девушки по имени Рей, живущей <br>на пустынной планете, штурмовика Финна, не желающего больше служить Первому ордену, и пилота Сопротивления По Дэмерона. Старые герои «Звёздных войн», впрочем, тоже появляются и играют важные роли. В тотальном успехе фильма уже можно не сомневаться: он уже <a href="http://www.theverge.com/2015/12/21/10632468/star-wars-the-force-awakens-box-office-record-238-million">бьёт</a> рекорды по сборам и стал одним из главных поп-культурных событий подходящего к концу 2015-го.</p>
			<p>Это очень просчитанное, точное и эффективное кино. Оно бьёт в цель и нажимает на все нужные кнопки. Тут есть умеренный фансервис, давящий на ностальгию. <br>Тут есть новая история и новые герои, хитро рифмующиеся со старыми частями, <br>но при этом всё ещё достаточно оригинальные. Тут есть пугающие сцены <br><em>(со злодеем Кайло Реном),</em> милые сцены<em> (за них отвечает робот ББ-8),</em> смешные сцены<em> (со штурмовиком Финном)</em> и сцены, вызывающие восторг. При этом «Пробуждение силы» как бы собрано из тем и сюжетных ходов оригинальных «Звёздных войн»: тут есть история взросления, родственные связи, путешествие героя, волшебные помощники и так далее; но это не прямые отсылки и копии, <br>а что-то более поэтическое вроде рифм. В Twitter сразу после премьеры писали, что это ровно те «Звёздные войны», на которые все надеялись <em>(пользователи afisha.ru, например, <a href="http://www.afisha.ru/movie/215645/" target="_blank">считают</a> ровно наоборот)</em>. Это кино — машина реакции.</p>
			<p>Реакция появилась сразу: сначала зрители, собирающиеся на фильм, очень сильно боялись спойлеров. Интернет на короткое время превратился в настоящее поле битвы: люди просили ничего не рассказывать о сюжете и грозили друг <br>другу расправой. Все медиа, публиковавшие рецензии на «Пробуждение силы», обязательно помечали, что в них нет спойлеров. Другие люди, наоборот, использовали это как слабость и закладывали спойлеры в публичное пространство, как бомбы, чтобы испортить другим удовольствие. Ни один <br>другой фильм за последнее время, кажется, не вызывал такой осторожности <br>по отношению к сюжету. Все хотели получить чистый, незамутнённый опыт. Почему?</p>
			<p>Возможно, потому что именно в случае со «Звёздными войнами» все надеялись, что наконец что-нибудь почувствуют.</p>
		</div>
			<!-- Note -->
			<p class="article__note"><br><strong>Со дня премьеры</strong> фильм успел собрать $517 млн</p>
	</div>
<script src="js/plugins.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
